* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.header {
    background: #eee;
    border-bottom: solid 1px #ddd;
  
}

.container {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

span {
    font-size: 25px;
    border-right: solid 1px #ddd;
    padding: 10px 30px;
}

.web-menu ul {
    display: flex;
    padding: 40px;
}


.web-menu ul li {
    margin: auto;
    list-style: none;
    font-size: 16px;

}

.web-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #aaa;
    padding: 10px
}

.web-menu ul li a:hover {
    color: #000;
}

.selected span {
    color: #000;
}
.car {
    margin: auto 0;
}

.car img:hover {
    border: solid 2px #000;
}

.car img {
    width: 40px;
    cursor: pointer;
    border: solid 2px #ccc;
    padding: 0px 15px;
    border-radius: 30px;
}

.title {
    margin: 20px auto;
    color: #aaa;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
}

.title::before,
.title::after {
    content: '';
    display: inline-block;
    width: 120px;
    height: 20px;
    border-top: solid 1px #ddd;
    margin: 0px 20px
}
.models {
    display: none;
}

.container-item {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 80px;
     margin:auto;
}

.boticario-item {
    margin: 10px;
    padding: 20px;
    background: #F5F7F9;
    border: solid 2px #aaa;
}

.boticario-item--img img {
    width: 250px;
}

.boticario-item--name {
    width: 250px;
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #aaa;
}

.boticario-item--price {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #aaa;
}

.boticario-modal {
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
   background: #ddd;
   min-width: 700px;
   border: 10px solid #aaa;
   position: relative;
   display: flex;
}

.boticario-modal--img img {
    height: 300px;
}

.boticario-modal--name {
    width: 391px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.boticario-modal--price {
    width: 391px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.boticario-quantity {
    justify-content: center;
    background-color: #aaa;
    border: solid 5px #aaa;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
}

.boticario-less {
    width: 30px;
}
.boticario-more {
    width: 30px;
}

.boticario-buttons {
    justify-content: space-around;
    margin-top: 50px;
    display: flex;
}

.boticario-add--item {
    background: greenyellow;
    padding: 20px;
    border-radius: 50px;
}

.boticario-remove--item {
    background: red;
    padding: 20px;
    border-radius: 50px;
}
.fechar-modal{
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    margin-top: -20px;
    margin-right: -20px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    background-color: red;
}
.fechar-modal p {
    margin-top: 10px;
    font-size: 20px;
}















/* menu mobile */
/* .button {
    display: none;
} */
@media (max-width: 770px) {
    /* .button {
        display: flex;
        background-color:#000 ;
        border: none;
        border-radius:10px;
        color:#fff;
        padding: 10px;
        margin: 10px;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        align-items: center;
        cursor:pointer;
        z-index: 400;

    } */
    /* .button::before{
        content: '';
        display: inline-block;
        height: 2px;
        width: 12px;
        background: #fff;
        box-shadow: 0 4px #fff, 0 -4px #fff;
        margin-right: 5px;
    } */
    span{
        font-size: 15px;
        border:none;
        padding:0px;
    }
    .web-menu a   {
        font-size: 14px;
        padding: 4px;
       
    }
    .car  {
        margin: auto;
        
        
    }
    .title::before,
    .title::after {
    content: '';
    display: inline-block;
    width: 70px;
    height: 20px;
    border-top: solid 1px #ddd;
    margin: 0px 20px
}
}