* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.header {
    background: #B1C1C1;
    border-bottom: solid 1px #617283;

}

.container {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

/* AREA DO MEU */

.web-menu ul {
    display: flex;
    padding: 40px;
}


.web-menu ul li {
    margin: auto 0;
    list-style: none;
    font-size: 16px;

}

.web-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #617283;
    margin-right: 10px;
    padding: 10px;
}

.web-menu ul li a:hover {
    color: #FFF;
}

span {
    font-size: 25px;
    padding: 10px 15px 10px 0px;
    border-right: solid 1px #ddd;

}

.selected span {
    color: #FFF;
}

/* AREA CARRINHO */

.car-shopping {
     margin: auto 10px;
    text-decoration: none;
    color: #FFF;
}

.car {
    padding: 10px;
    display: flex;
    border: solid 2px #617283;
    border-radius: 50%;
    align-items: center;
}

.car:hover {
    border: solid 2px #FFF;
}

.car img {
    width: 40px;
    cursor: pointer;

}

.quantity-car {
    color: #FFF
}

/* menu mobile */

h2 {
    display: none;

}



@media (max-width: 840px) {
    .web-menu {
        display: none;
    }

    h2 {
        display: flex;
        font-size: 30px;
        font-weight: 500;
        margin: auto 20px;
        color: #fff
    }
}


/*  AREA TITULO */

.title {
    margin: 20px auto;
    color: #617283;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
}

.title::before,
.title::after {
    content: '';
    display: inline-block;
    width: 120px;
    height: 20px;
    border-top: solid 1px #ddd;
    margin: 0px 20px
}

@media (max-width: 840px) {

    .title::before,
    .title::after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        border-top: solid 2px #ddd;
        margin: 0px 20px
    }
}


/* AREA MODELS */
.models {
    display: none;
}

.container-item--area {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.boticario-item {
    margin: 10px;
    padding: 20px;
    background: #B1C1C1;
}

.boticario-item--img img {
    width: 250px;
}

.add-item {
    position: absolute;
    background: #617283;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 106px;
    margin-top: -40px;
}

.boticario-item--name {
    width: 250px;
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #617283;
}

.boticario-item--price {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #617283;
}

/* AREIA MODAL */
.boticario-modal {
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all ease .5s;
}

.modal {
   background: #ddd;
   min-width: 700px;
   border: 10px solid #aaa;
   position: relative;
   display: flex;
}

.boticario-modal--img img {
    height: 300px;
    box-shadow: 2px 2px 5px black;
}

.boticario-modal--name {
    width: 391px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.boticario-modal--price {
    width: 391px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.boticario-quantity {
    justify-content: center;
    background-color: #aaa;
    border: solid 5px #aaa;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
}

.boticario-less {
    width: 30px;
}
.boticario-more {
    width: 30px;
}

.boticario-buttons {
    justify-content: space-around;
    margin-top: 50px;
    display: flex;
}

.boticario-add--item {
    background: greenyellow;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.boticario-remove--item {
    background: red;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.fechar-modal{
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    margin-right: -20px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    background-color: red;
    cursor: pointer;
    box-shadow: 2px 2px 5px black;

}